<form name='form' novalidate class="form-horizontal">
  <div class="form-group">
    <label for="pName" class="col-sm-2 control-label">Nom</label>
    <div class="col-sm-4">
      <input class="form-control" name="pName" ng-model="form.name" type="text" placeholder="Name" required>
    </div>
  </div>
  <div class="form-group">
    <label for="pDesc" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="pDesc" ng-model="form.desc" type="text" placeholder="Description">
    </div>
  </div>
  <div class="form-group">
    <label for="pAdresse" class="col-sm-2 control-label">Adresse</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="pAdresse" ng-model="form.adresse" type="text" placeholder="Adresse">
    </div>
  </div>
  <div class="form-group">
    <label for="pImg" class="col-sm-2 control-label">Image</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="pImg" ng-model="form.image" type="text" placeholder="Image">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success" ng-click="portfolioCreate(form); portFormShow = ! portFormShow">Sauvegarder</button>
    </div>
  </div>
</form>
