

	<div class="container">

		<div class="build-title"> Paramétrer des actions génériques</div>
	</div>

	<div class="container container-fluid" style="width:700px;margin-top:50px;position:relative">

		<div class="row" style="float:left;overflow-y:scroll;height:700px;">
			<img src="" width="140px" height="140px" alt="{{action.name}}" style="margin:10px" class="img-rounded" ng-repeat="action in ACTIONS">
		</div>
		<a href="/actionForm" class="btn btn-primary glyphicon glyphicon-plus" style="position:absolute;top:700px;right:-250px;" role="button">nouvelle action type</a>
		<a href="/applyAction" class="btn btn-primary glyphicon glyphicon-tree-deciduous" style="position:absolute;top:700px;left:-250px;" role="button"></a>
	</div>

