
<div class="container-fluid" style="margin-top: 20px;">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<div class="container-fluid" style="border: 1px solid #eeeeee;height: 600px; overflow-y: scroll; margin-top:40px;">
				<h2>Gisement / Lot</h2>
				<form class="form-horizontal" role="form">
					<div class="action-form">
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Gisement</label>
							<div class="col-sm-8">
								<select class="form-control">
									<option>&Oslash;</option>
									<option>Chaud</option>
									<option>Froid</option>
									<option>Electricité</option>
									<option>Tous</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Montage</label>
							<div class="col-sm-8">
								<select class="form-control">
									<option>&Oslash;</option>
									<option>Classique</option>
									<option>CPE</option>
									<option>CREM</option>
									<option>PPP</option>
									<option>CPI</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Lot Technique concerné</label>
							<div class="col-sm-8">
								<select class="form-control">
									<option>&Oslash;</option>
									<option>Appréciation confort</option>
									<option>Structure</option>
									<option>Façades</option>
									<option>Toitures</option>
									<option>Production Chaud</option>
									<option>Production Froid</option>
									<option>TGBT</option>
									<option>Distribution électrique</option>
									<option>Distribution thermique</option>
									<option>Terminaux chauffage</option>
									<option>Terminaux climatisation</option>
									<option>Terminaux éclairage</option>
									<option>GTC/GTB</option>
									<option>Centrales d’air  Réseaux ventilation</option>
									<option>Production ECS</option>
									<option>Distribution ECS</option>
									<option>Sécurité incendie</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Faisabilité site occupé</label>
							<div class="col-sm-8">
								<select class="form-control">
									<option>&Oslash;</option>
									<option>Oui</option>
									<option>Non</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Priorité</label>
							<div class="col-sm-8">
								<select class="form-control">
									<option>Normale</option>
									<option>Haute</option>
									<option>Faible</option>
								</select>
							</div>
						</div>
					</div>
					<!-- Etude des impacts: généralités -->
					<h4>Etude des impacts: généralités</h4>
					<div class="action-form">
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Confort</label>
							<div class="col-sm-8">
								<select class="form-control">
									<option>&Oslash;</option>
									<option>Thermique</option>
									<option>Visuel</option>
									<option>Acoustique</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Conformité technique</label>
							<div class="col-sm-8">
								<select class="form-control">
									<option>&Oslash;</option>
									<option>Conforme</option>
									<option>Non-conforme-mineur</option>
									<option>Non-conforme-majeur</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Conformité réglementaire</label>
							<div class="col-sm-8">
								<select class="form-control">
									<option>&Oslash;</option>
									<option>Oui</option>
									<option>Non</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Durée de vie résiduelle</label>
							<div class="col-sm-8">
								<select class="form-control">
									<option>&Oslash;</option>
									<option>Oui</option>
									<option>Non</option>
								</select>
							</div>
						</div>
					</div>
					<div class="action-form">
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Durée des études</label>
							<div class="col-sm-8">
								<input type="number" class="form-control" placeholder="Durée exprimée en mois">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Durée des travaux</label>
							<div class="col-sm-8">
								<input type="number" class="form-control" placeholder="Durée exprimée en mois">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Durée de vie de l'action</label>
							<div class="col-sm-8">
								<input type="number" class="form-control" placeholder="Durée exprimée en années">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Lié à une autre action</label>
							<div class="col-sm-8">
								<select class="form-control">
									<option>&Oslash;</option>
									<option>Liste des actions types créées</option>
								</select>
							</div>
						</div>
					</div>
					<!-- Etude des impacts - énergie -->
					<h4>Etude des impacts - énergie</h4>
					<div class="action-form">
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">En %</label>
							<div class="col-sm-8">
								<input type="number" class="form-control" placeholder="%">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">En KWh</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" placeholder="KWh" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">En € / an</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" placeholder="€ / an" disabled>
							</div>
						</div>
					</div>
					<!-- invertissement -->
					<h4>Invertissement</h4>
					<div class="action-form">
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Ratio d'investissement</label>
							<div class="col-sm-8">
								<input type="number" class="form-control" placeholder="€ / m&sup2;">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Coût d'investissement</label>
							<div class="col-sm-8">
								<input type="number" class="form-control" placeholder="€" disabled>
							</div>
						</div>
					</div>
					<!-- Fonctionnement -->
					<h4>Fonctionnement</h4>
					<div class="action-form">
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Ratio de fonctionnement</label>
							<div class="col-sm-8">
								<input type="number" class="form-control" placeholder="€ / m&sup2; .an">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Coût en fonctionnement</label>
							<div class="col-sm-8">
								<input type="number" class="form-control" placeholder="€ / an" disabled>
							</div>
						</div>
					</div>
					<!-- Eligibilité -->
					<h4>Eligibilité</h4>
					<div class="action-form">
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Eligibilité à subvension</label>
							<div class="col-sm-8">
								<select class="form-control">
									<option>&Oslash;</option>
									<option>Oui</option>
									<option>Non</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Taux de subvension</label>
							<div class="col-sm-8">
								<input type="number" class="form-control" placeholder="%">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Eligibilité à certificat d'économie d'énergie</label>
							<div class="col-sm-8">
								<input type="checkbox">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Lien vers l'outil de calcul en ligne</label>
							<div class="col-sm-8">
								<button type="button" class="btn btn-default">Lien</button>
							</div>
						</div>
					</div>
					<!-- Calcul de l'efficacité -->
					<h4>Calcul de l'efficacité</h4>
					<div class="action-form">
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Temps de retour brut</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" placeholder="Année" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Temps de retour actualisé</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" placeholder="Année" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Analyse de la valeur</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" placeholder="KWh / €" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">LEC</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" placeholder="€ / KWh" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-4 control-label">Rentabilité</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" placeholder="%" disabled>
							</div>
						</div>
					</div>
				</form>
				<div id="bouton_termine" class="text-center">
						<button type="button" class="btn btn-primary btn-lg btn">Terminé</button>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-md-4">
			<div class="container-fluid" style="border: 1px solid #eeeeee; height: 600px; padding-top: 10px; background-color:#d6d7d6;">
				<div class="panel panel-default" style="height: 120px;">
					<div class="panel-body">
						<div style="width: 33.333333%; height:88px; border: 1px solid #eeeeee; float: left; position: relative;">
							<img src="" alt="" class="img-thumbnail" style="height:100%; width:100%;">
						</div>
						<div style="width: 66.666666%; height: 88px; border: 1px solid #eeeeee;position: relative; float: left;overflow-y: scroll;padding: 5px;">
							Cras justo odio, Dapibus ac facilisis in Morbi leo risus estibulum at eros.
							Cras justo odio, Dapibus ac facilisis in Morbi leo risus estibulum at eros.
							Cras justo odio, Dapibus ac facilisis in Morbi leo risus estibulum at eros.
							Cras justo odio, Dapibus ac facilisis in Morbi leo risus estibulum at eros.
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">Status</div>
					<div class="panel-body" style="height: 100px;">
						Panel content
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">Fil d'actualité</div>
					<div class="panel-body" style="height: 195px; overflow-y: scroll;">
						<ul class="list-group">
							<li class="list-group-item">Cras justo odio</li>
							<li class="list-group-item">Dapibus ac facilisis in</li>
							<li class="list-group-item">Morbi leo risus</li>
							<li class="list-group-item">Porta ac consectetur ac</li>
							<li class="list-group-item">Vestibulum at eros</li>
							<li class="list-group-item">Cras justo odio</li>
							<li class="list-group-item">Dapibus ac facilisis in</li>
							<li class="list-group-item">Morbi leo risus</li>
							<li class="list-group-item">Porta ac consectetur ac</li>
							<li class="list-group-item">Vestibulum at eros</li>
							<li class="list-group-item">Cras justo odio</li>
							<li class="list-group-item">Dapibus ac facilisis in</li>
							<li class="list-group-item">Morbi leo risus</li>
							<li class="list-group-item">Porta ac consectetur ac</li>
							<li class="list-group-item">Vestibulum at eros</li>
							<li class="list-group-item">Cras justo odio</li>
							<li class="list-group-item">Dapibus ac facilisis in</li>
							<li class="list-group-item">Morbi leo risus</li>
							<li class="list-group-item">Porta ac consectetur ac</li>
							<li class="list-group-item">Vestibulum at eros</li>
						</ul>
					</div>
					<input type="text" class="form-control" placeholder="Entrer votre message & appuyer sur Enter">
				</div>
			</div>
		</div>
	</div>
</div>
