
	<div class="container-fluid" style="margin-top: 60px;margin-right:60px;margin-left:60px;">
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr class="success">
						<th>Réalisation</th>
						<th>Type d'action</th>
						<th>Bâtiment</th>
						<th>€</th>
						<th>Efficacité en %</th>
						<th>Efficacité en KWh</th>
						<th>Tri années</th>
						<th>????</th>
						<th>Impact Confort</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td>Robinet Thermostatique</td>
						<td>Bâtiment 26</td>
						<td>1000</td>
						<td>5</td>
						<td>26000</td>
						<td>3</td>
						<td>oui</td>
						<td>oui</td>
					</tr>
					<tr>
						<td>2015 - T1</td>
						<td>Robinet Thermostatique</td>
						<td>Bâtiment 26</td>
						<td>1000</td>
						<td>5</td>
						<td>26000</td>
						<td>3</td>
						<td>oui</td>
						<td>oui</td>
					</tr>
					<tr>
						<td>2015 - T1</td>
						<td>Robinet Thermostatique</td>
						<td>Bâtiment 26</td>
						<td>1000</td>
						<td>5</td>
						<td>26000</td>
						<td>3</td>
						<td>oui</td>
						<td>oui</td>
					</tr>
					<tr>
						<td>2015 - T1</td>
						<td>Robinet Thermostatique</td>
						<td>Bâtiment 26</td>
						<td>1000</td>
						<td>5</td>
						<td>26000</td>
						<td>3</td>
						<td>oui</td>
						<td>oui</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="constainer-fluid">
			<button type="button" class="btn btn-success">Prévisions</button>
			<button type="button" class="btn btn-success compass-right">Planification</button>
		</div>
	</div>

<script type="text/javascript">
</script>
