<h3 class="build-title">Création d'un Bail (étape {{leaseStep}}): details de l'usage</h3>
<form role="form" class="form-horizontal" name="form" ng-submit="" novalidate>
	<div class="build-info">
		<h3>Etat de la location</h3>
		<div class="form-group">
			<label for="portfolio" class="col-sm-3 control-label">Nom du bail</label>
			<div class="col-sm-9 input-group">
				 <input class="form-control" id="portfolio" placeholder="Nom du bail" name="portfolio" type="text" autofocus >
			</div>
		</div>
		<div class="form-group">
			<label for="portfolio" class="col-sm-3 control-label">Statut locatif</label>
			<div class="col-sm-9 input-group">
				<select class="selectpicker">
					<option>Vacant</option>
					<option>Loué</option>
					<option>Multilocataires</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="portfolio" class="col-sm-3 control-label">Loyer</label>
			<div class="col-sm-9 input-group">
				 <input class="form-control" id="portfolio" placeholder="Surface totale" name="portfolio" type="text" autofocus >
				 <span class="input-group-addon">€/m&sup2;</span>
			</div>
		</div>
		<div class="form-group">
			<label for="portfolio" class="col-sm-3 control-label">Dernière rénovation significative</label>
			<div class="col-sm-9 input-group">
				 <input class="form-control" id="portfolio" placeholder="Année de construction" name="portfolio" type="text" autofocus >
			</div>
		</div>
		<div class="form-group">
			<label for="portfolio" class="col-sm-3 control-label">Usage</label>
			<div class="col-sm-9 input-group">
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Bureau</option>
					<option>Commerce</option>
					<option>Résidentiel</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="portfolio" class="col-sm-3 control-label">Surface de l'usage</label>
			<div class="col-sm-9 input-group">
				 <input class="form-control" id="portfolio" placeholder="Surface de l'usage" name="portfolio" type="text" autofocus >
				 <span class="input-group-addon">m&sup2;</span>
			</div>
		</div>
		<div class="form-group">
			<label for="portfolio" class="col-sm-3 control-label">Niveaux de l'usage</label>
			<div class="col-sm-9 input-group">
				 <input class="form-control" id="portfolio" placeholder="Nombre de niveaux" name="portfolio" type="text" autofocus >
			</div>
		</div>
		<div class="form-group">
			<label for="portfolio" class="col-sm-3 control-label">IGH</label>
			<div class="col-sm-9 input-group">
				<select class="selectpicker">
					<option>Non</option>
					<option>Oui</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="portfolio" class="col-sm-3 control-label">Status ERP</label>
			<div class="col-sm-9 input-group">
				<select class="selectpicker">
					<option>CDP</option>
					<option>ERP Catégorie 2</option>
					<option>ERP Catégorie 3</option>
					<option>ERP Catégorie 5</option>
				</select>
			</div>
		</div>
	</div>
</form>
