
<h3 class="build-title">Création d'un Bail (étape {{leaseStep}}): Conformité réglementaire / audits / diagnostics</h3>
<!-- FIRST CONTAINER -->
<div class="container building-container">
	<form role="form" class="form-horizontal" style="" name="form" ng-submit="" novalidate style="position:relative">
		<div class="form-group">
			<div class="col-sm-10 input-group" style="width: 100%; margin-bottom: 15px;">
				<label for="portfolio" class="control-label build-lab-inline">Accessibilité</label>
				<input type="checkbox">
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Mensuel</option>
					<option>Trimestriel</option>
					<option>Semestriel</option>
					<option>Annuel</option>
					<option>Biannuel</option>
				</select>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Conforme</option>
					<option>Non conformité mineure</option>
					<option>Non conformité majeure</option>
				</select>
				<input class="build-input" type="text" placeholder="Date du dernier diagnostique">
				<input class="build-input" type="text" placeholder="Commentaire sommaire">
				<button class="glyphicon glyphicon-paperclip btn-paperclip"></button>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-10 input-group" style="width: 100%; margin-bottom: 15px;">
				<label for="portfolio" class="control-label build-lab-inline">Ascenseurs</label>
				<input type="checkbox">
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Mensuel</option>
					<option>Trimestriel</option>
					<option>Semestriel</option>
					<option>Annuel</option>
					<option>Biannuel</option>
				</select>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Conforme</option>
					<option>Non conformité mineure</option>
					<option>Non conformité majeure</option>
				</select>
				<input class="build-input" type="text" placeholder="Date du dernier diagnostique">
				<input class="build-input" type="text" placeholder="Commentaire sommaire">
				<button class="glyphicon glyphicon-paperclip btn-paperclip"></button>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-10 input-group" style="width: 100%; margin-bottom: 15px;">
				<label for="portfolio" class="control-label build-lab-inline">Sécurité incendie</label>
				<input type="checkbox">
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Mensuel</option>
					<option>Trimestriel</option>
					<option>Semestriel</option>
					<option>Annuel</option>
					<option>Biannuel</option>
				</select>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Conforme</option>
					<option>Non conformité mineure</option>
					<option>Non conformité majeure</option>
				</select>
				<input class="build-input" type="text" placeholder="Date du dernier diagnostique">
				<input class="build-input" type="text" placeholder="Commentaire sommaire">
				<button class="glyphicon glyphicon-paperclip btn-paperclip"></button>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-10 input-group" style="width: 100%; margin-bottom: 15px;">
				<label for="portfolio" class="control-label build-lab-inline">Amiante</label>
				<input type="checkbox">
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Mensuel</option>
					<option>Trimestriel</option>
					<option>Semestriel</option>
					<option>Annuel</option>
					<option>Biannuel</option>
				</select>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Conforme</option>
					<option>Non conformité mineure</option>
					<option>Non conformité majeure</option>
				</select>
				<input class="build-input" type="text" placeholder="Date du dernier diagnostique">
				<input class="build-input" type="text" placeholder="Commentaire sommaire">
				<button class="glyphicon glyphicon-paperclip btn-paperclip"></button>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-10 input-group" style="width: 100%; margin-bottom: 15px;">
				<label for="portfolio" class="control-label build-lab-inline">Plomb</label>
				<input type="checkbox">
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Mensuel</option>
					<option>Trimestriel</option>
					<option>Semestriel</option>
					<option>Annuel</option>
					<option>Biannuel</option>
				</select>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Conforme</option>
					<option>Non conformité mineure</option>
					<option>Non conformité majeure</option>
				</select>
				<input class="build-input" type="text" placeholder="Date du dernier diagnostique">
				<input class="build-input" type="text" placeholder="Commentaire sommaire">
				<button class="glyphicon glyphicon-paperclip btn-paperclip"></button>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-10 input-group" style="width: 100%; margin-bottom: 15px;">
				<label for="portfolio" class="control-label build-lab-inline">Légionelle</label>
				<input type="checkbox">
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Mensuel</option>
					<option>Trimestriel</option>
					<option>Semestriel</option>
					<option>Annuel</option>
					<option>Biannuel</option>
				</select>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Conforme</option>
					<option>Non conformité mineure</option>
					<option>Non conformité majeure</option>
				</select>
				<input class="build-input" type="text" placeholder="Date du dernier diagnostique">
				<input class="build-input" type="text" placeholder="Commentaire sommaire">
				<button class="glyphicon glyphicon-paperclip btn-paperclip"></button>
			</div>
		</div>
	</form>
</div>
