
<h3 class="build-title">Création d'un Bail (étape {{leaseStep}}): Données techniques & conformité</h3>
<!-- FIRST CONTAINER -->
<div class="container" style="padding: 10px; border: 1px solid #eeeeee;background: #eeeeee;">
	<!-- FORM ZONE -->
	<form role="form" class="form-horizontal" style="" name="form" ng-submit="" novalidate>
		<div class="form-group">
			<div class="col-sm-10 input-group" style="width: 100%;">
				<label for="portfolio" class="control-label build-lab" >Structures</label>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Neuf ou Bon état (DVR > 10)</option>
					<option>état moyen (5&#60DVR&#60 10) </option>
					<option>Mauvais état (DVR &#60 5)</option>
					<option>Conforme</option>
				</select>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Conforme</option>
					<option>Non conformité mineure</option>
					<option>Non conformité majeure</option>
				</select>
				<input type="text" placeholder="Description sommaire">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-10 input-group" style="width: 100%;">
				<label for="portfolio" class="control-label build-lab">Façades</label>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Neuf ou Bon état (DVR > 10)</option>
					<option>état moyen (5&#60DVR&#60 10) </option>
					<option>Mauvais état (DVR &#60 5)</option>
					<option>Conforme</option>
				</select>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Conforme</option>
					<option>Non conformité mineure</option>
					<option>Non conformité majeure</option>
				</select>
				<input type="text" placeholder="Description sommaire">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-10 input-group" style="width: 100%;">
				<label for="portfolio" class="control-label build-lab">Toiture / étanchéité</label>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Neuf ou Bon état (DVR > 10)</option>
					<option>état moyen (5&#60DVR&#60 10) </option>
					<option>Mauvais état (DVR &#60 5)</option>
					<option>Conforme</option>
				</select>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Conforme</option>
					<option>Non conformité mineure</option>
					<option>Non conformité majeure</option>
				</select>
				<input type="text" placeholder="Description sommaire">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-10 input-group" style="width: 100%;">
				<label for="portfolio" class="control-label build-lab">Production chaud</label>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Neuf ou Bon état (DVR > 10)</option>
					<option>état moyen (5&#60DVR&#60 10) </option>
					<option>Mauvais état (DVR &#60 5)</option>
					<option>Conforme</option>
				</select>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Conforme</option>
					<option>Non conformité mineure</option>
					<option>Non conformité majeure</option>
				</select>
				<input type="text" placeholder="Description sommaire">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-10 input-group" style="width: 100%;">
				<label for="portfolio" class="control-label build-lab">Production Froid</label>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Neuf ou Bon état (DVR > 10)</option>
					<option>état moyen (5&#60DVR&#6010) </option>
					<option>Mauvais état (DVR &#60 5)</option>
					<option>Conforme</option>
				</select>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Conforme</option>
					<option>Non conformité mineure</option>
					<option>Non conformité majeure</option>
				</select>
				<input type="text" placeholder="Description sommaire">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-10 input-group" style="width: 100%;">
				<label for="portfolio" class="control-label build-lab">TGBT</label>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Neuf ou Bon état (DVR > 10)</option>
					<option>état moyen (5&#60DVR&#60 0) </option>
					<option>Mauvais état (DVR &#60 5)</option>
					<option>Conforme</option>
				</select>
				<select class="selectpicker">
					<option>(vide)</option>
					<option>Conforme</option>
					<option>Non conformité mineure</option>
					<option>Non conformité majeure</option>
				</select>
				<input type="text" placeholder="Description sommaire">
			</div>
		</div>
	</form>
</div>

<!-- SEPARATOR -->
<hr>

<!-- FIRST CONTAINER -->
<div class="container" style="padding: 10px; border: 1px solid #eeeeee;background: #eeeeee;">
	<!-- INDICE ZONE 1 -->
	<div style=";">
		<h3>Indice global de vétusté</h3>
		<a href="" class="btn btn-lg btn-primary">%</a>
	</div>

	<!-- INDICE ZONE 2 -->
	<div style="width:33.33%;float:left; height: 150px;">
		<h3>Indice global de conformité</h3>
		<a href="" class="btn btn-lg btn-primary">%</a>
	</div>

	<!-- COMMENT ZONE -->
	<div style="width:33.33%;float:left; height: 150px;">
		<textarea style="height:100%; width:100%;border-width:thin;border-style:solid;border-color:#eeeeee;" placeholder="Commentaire technique général"></textarea>
	</div>
</div>
